
// Typography
*{
    font-family: Helvetica, sans-serif;
}

// Colors
$white-text: #F5FFFA;
$blue-link: #05EDFF;
$amber: #ffbf00;
$settings1: #FAF0E6;
$settings2: #FAA0A0;
$settings3: #FFF0F5;
$settings4: #F5F5DC;
$settings5: #F0F8FF;

// Base

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

// Components

#info-section {

    position: fixed;
    width: 100%;
    text-align: center;

    color: $white-text;

    h1 {
        font-size: 6vh;
    }
    p {
        font-size: 18px;
    }
    a{
        color: $blue-link;
    }
}

#sim-settings {
    position: fixed;
    width: 100%;
    bottom: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    h2, p {
        color: $white-text;
    }

    h2 {
        font-size: 3vh;
    }



    #click-settings {
        display: flex;
        flex-direction: column;
        align-items: center;

        #click-chosers {
            background: #454857;
            padding: 4px;
            border-radius: 3px;
            box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
            0 0 0 3px rgba(185, 185, 185, 0.3);
            
            input {
                width: auto;
                height: 100%;
                appearance: none;
                outline: none;
                cursor: pointer;
                border-radius: 2px;
                padding: 4px 8px;
                background: #454857;
                color: #bdbdbdbd;
                transition: all 100ms linear;
            }

            input:checked {
                background-image: linear-gradient(180deg, #95d891, #74bbad);
                color: #fff;
                box-shadow: 0 1px 1px #0000002e;
                text-shadow: 0 1px 0px #79485f7a;
            }
            
            input:before {
                content: attr(label);
                display: inline-block;
                text-align: center;
                width: 100%;
            }
        }

        #spawn-clear {
            margin-top: 5vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            #clear-button {
                border-radius: 12px;
                padding: 5px;
                cursor: pointer;
                font-weight: bold;
                background-color: $amber;
            }
            #clear-button:hover {
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
 
        }
        
    }

    #attribute-settings {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #atributeSliders-conteiner {
            display: flex;
            flex-direction: row;
            column-gap: 2vw;
        }
    }
}

#zen-button {
    position: fixed;
    left: 48%;
    bottom: 5%;

    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    transition: all 250ms;
}

#zen-button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.flexbox-gap {
    display: flex;
    gap: 3vh;
}

.setting-colors1 {
    color: $settings1;
}
.setting-colors2 {
    color: $settings2;
}
.setting-colors3 {
    color: $settings3;
}
.setting-colors4 {
    color: $settings4;
}
.setting-colors5 {
    color: $settings5;
}